.footer{
    flex-shrink: 0;
    margin-top: auto;
    background: var(--light-bg);
}
.container{
    max-width: var(--container-main);
    margin: 0 auto;
}
.content{
    height: var(--content-footer-height);
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p{
        color: var(--primary-color);
    }

}
.logo{
    display: flex;
    gap: 15px;
    font: var(--font-m);

    p{
        color: var(--primary-color);
        font-weight: 700;
    }
}