.link{
    font: var(--font-m);
    font-weight: 400;
    color: var(--primary-color);
    width: fit-content;
    transition: all 0.3s ease 0s;

    &:hover{
        color: var(--icon-color);
    }
}
.productBody{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.title{
    font: var(--font-l);
    font-weight: 600;
    color: var(--primary-color);
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}