.link{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    min-height: 105px;
    background: var(--light-bg);
    border: 1px solid var(--border-color);
    max-width: 135px;
    border-radius: 12px;
    width: 100%;
}
.text{
    color: var(--primary-color);
}

.active.link {
    background: var(--icon-color);

    & svg{
        color: #fff;
    }
}