.app_dark {
  --bg-color: #0c1214;
  --light-bg: #151c1f;
  --primary-color: #dbdbdb;
  --icon-color: #ff7010;
  --button-bg-color: #383533;
  --inverted-button-bg-color: #ff7010;
  --border-color: #f0f0f0;

  /* skeleton */
  --dark-bg-redesigned: #090f11;
  --light-bg-redesigned: #232d31b7;
}
