.app_light {
  --bg-color: #f9f9f9;
  --light-bg: #ffffff;
  --primary-color: #191919;
  --icon-color: #ff7010;
  --button-bg-color: #ff7010;
  --inverted-button-bg-color: #383533b4;
  --border-color: #f0f0f0;

  /* skeleton */
  --dark-bg-redesigned: #fff;
  --light-bg-redesigned: #e2eef1;
}
