@import url("./reset.scss");
@import url("./variables/global.scss");
@import url("./themes/dark.scss");
@import url("./themes/normal.scss");

body {
  font: var(--font-s);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--icon-color);
}
